<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="quantity_control(qtyValue, productId)">
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-Link minusButton" href="" th:pid="${productId}"><b>-</b></a>
            </li>
            <li class="page-item">
                <input type="text" th:value="${qtyValue}" class="form-control text-center"
                onkeydown="return false;" style="max-width: 55px"
                th:id="'quantity' + ${productId}"/>
            </li>
            <li class="page-item">
                <a class="page-Link pLusButton" href="" th:pid="${productId}"><b>+</b></a>
            </li>
        </ul>
    </nav>
</div>
<script>
    $(document).ready(function () {
        $(".minusButton").on("click", function (evt) {
            evt.preventDefault();
            productId = $(this).attr("pid");
            qtyInput = $("#quantity" + productId);

            newQty = parseInt(qtyInput.val()) - 1;
            if (newQty > 0) qtyInput.val(newQty);
        });
        $(".plusButton").on("click", function (evt) {
            evt.preventDefault();
            productId = $(this).attr("pid");
            qtyInput = $("#quantity" + productId);

            newQty = parseInt(qtyInput.val()) + 1;
            if (newQty < 10) qtyInput.val(newQty);
        });
    });

</script>
</body>
</html>