<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <title>Shopping Cart</title>
</head>
<body>
<div class="row">
    <div class="col">
        <th:block th:each="item, status : ${orderProduct}">
            <div class="row border rounded" th:with="product = ${item.product}">
                <div class="col">
                    <div>[[${status.count}]]</div>
                    <div>Remove icon</div>
                </div>
                <div cla$s="col">
                    <!--                    <img th:src="" />-->
                    Image
                </div>
                <div class="col">
                    <div>
                        <a>
                            <b>[[${product.name}]]</b>
                        </a>
                    </div>
                    <div th:replace="quantity_control :: quantity_control(${item.quantity}, ${item.product.id})">Quantity</div>
                    <div>
                        <span>Price:   </span>
                        <span> [[${product.price}]] </span>
                    </div>
                    <div>
                        <span>=</span><Span class="h4"> [Subtotal ]</span>
                    </div>
                </div>

            </div>
        </th:block>
    </div>
    <div class="col-sm-4">
        <div>
            <span class="h3">Estimated Total:</span>
        </div>
        <div class="mt-2">
            <span class="h2"> Total Amount  </span>
        </div>
        <div class="mt-2">
            <button class="btn btn-danger p-2 mt-3">Check out</button>
        </div>
    </div>

</body>
</html>